section#new{
    height: 650px;
    margin-top: 20px;
    border-top: 2px solid #9bc32a;
}
section#new h3{
    margin: 20px 0 0 35px;
}
section#new h3 span{
    color:#80a727;
}
section#new .item{
    float: left;
    text-align: center;
    margin: 20px 0 0 32px;
}
section#new .item .subject{
    margin-top: 10px;
    color:#80a727;
}
section#new .item .comment{
    margin-top: 5px;
    color: #888888;
}
section#new .item .price{
    margin-top: 5px;
    font-weight: bold;
}