/*헤더*/
body{
    font-family: "맑은 고딕","돋음";
    font-size:12px;
    color : #444;
    background-color: white;
}
ul{
    list-style: none;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color : #444;
}
.clear{
    clear: both;
}
header{
    height: 128px;
    background-color: rgba(228, 228, 228, 0);
}
header #top{
    width: 990px;
    margin : 0 auto;
}
header #logo{
    float:left;
    margin: 30px 0 0 0;
}
header #search{
    float:left;
    font-family: "Sans-serif";
    font-size:12px;
    color:#96c11f;
    margin: 40px 0 0 150px;
    width: 200px;
    height : 60px;
    
}
header #search #search_title{
    float: left;
    margin-top:6px;
}
header #search #search_form{
    float: left;
}

header #search #search_form input{
    width:80px;
    height: 16px;
    border:0;
    background-color: #f2f0f0;
    border-bottom: 1px solid #ccc;
    margin-left: 5px;
}
header #search #search_button {
    float:left;
    margin:3px 0 0 3px;
}
header #top_menu{
    float:right;
    margin-top : 45px;
}
header #top_menu{
    float:right;
    margin-top : 45px;
}
header #top_menu a:link{
    font-size: 11px;
    color:#888;
}
header #top_menu a:visited{
    font-size: 11px;
    color:#888;
}
header #top_menu a:hover{
    font-size: 11px;
    color:#888;
}
header #top_menu a:active{
    font-size: 11px;
    color:#888;
}
header #top_menu li.green a:link{
    color:#96c11f;
}
header #top_menu li.green a:visited{
    color:#96c11f;
}
header #top_menu li.green a:hover{
    color:#96c11f;
}
header #top_menu li.green a:active{
    color:#96c11f;
}
header #top_menu li{
    display: inline;
    margin-left:10px;
}
header #main_menu {
    height: 38px;
    margin-top: 5px;
    background-color: #92c8e0;
}
header #main_menu ul{
    width: 990px;
    margin : auto;
    padding-top: 12px;
    text-align: center;
}
header #main_menu li{
    display: inline;
    margin: 0 57px;
}
header #main_menu a:link{
    color: #fff
}
header #main_menu a:visited{
    color: #fff
}
header #main_menu a:hover{
    color: #fff
}
header #main_menu a:active{
    color: #fff
}
/* 헤더 끝 */






/*4.1왼쪽 콘텐츠-카테고리*/
aside#left{
    width: 215px;
    float: left;
    margin-top: 30px;
    font-weight: bold;
}
aside#left #cat_title{
    padding: 12px;
    background-color: #96c11f;
    color: #ffffff;
    text-align: center;
}
aside#left ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
aside#left li{
    color: #666;
    padding: 7px 0 7px 30px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
aside#left #customer{
    width: 213px;
    height: 100px;
    margin-top: 20px;
    border: 1px solid #cccccc;
    background-color: #fff;
}
aside#left #customer img{
    margin: 5px 0 0 5px;
}

/*4.2오른쪽 콘텐츠-상품 구매 정보*/
/*우측 콘텐츠*/
section#right{
    width: 1600px;
    height: 800px;
    margin-left: 250px;
}
/*상품 구매 정보(상품 제목, 판매가, 제조자, 가격 등)*/
section#right #summary h3{
    font-style: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #444444;
    margin-top: 30px;
}
section#right #summary h3 span{
    color: #80a727;
}
section#right #summary1{
    margin: 20px;
    float: left;
}
section#right #summary1 .buttons{
    text-align: center;
    margin-top: 10px;
}
section#right #summary2{
    float: left;
}
section#right #summary2 .item{
    margin: 20px 0 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
section#right #summary2 ul{
    list-style: none;
}
section#right #summary2 .item li{
    margin: 10px 0 0 0;
}
section#right #summary2 .col1{
    width: 100px;
    float: left;
}
section#right #summary2 .col2{
    width: 400px;
}
section#right #summary2 .size{
    margin: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
section#right #summary2 .buttons{
    display: inline;
    float: right;
    margin-right: 30px;
}

/*4.3오른쪽 콘텐츠-상품 설명*/
section#right #explanation h3{
    font-style: 16px;
    padding-bottom: 8px;
    margin-top: 30px;
    border-bottom: 1px solid #444444;
    color: #80a727;
}
section#right #explanation h2{
    margin: 20px 0 0 20px;
}
section#right #explanation_box{
    width: 780px;
    height: 230px;
    margin: 20px 0 0 20px;
    border: 1px solid #666666;
    border-top: 4px solid #666666;
    background-color: #ffffff;
}
section#right #explanation_box ul{
    padding: 20px 0 0 20px;
    font-size: 14px;
    list-style: none;
}
section#right #explanation_box li{
    padding: 8px;
    border-bottom: 1px solid #cccccc;
}
section#right #explanation_box .col1{
    float: left;
    width: 80px;
    font-weight: bold;
}
section#right #explanation_box .col2 span{
    color: #0000ff;
    font-weight: bold;
}

/*4.4유의사항*/
section#required h3{
    font-size: 16px;
    padding-bottom: 8px;
    margin-top: 30px;
    border-bottom: 1px solid #444444;
    color: #80a727;
}
section#required dl{
    margin: 20px 0 0 30px;
}
section#required dt{
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
section#required dd{
    font-size: 13px;
    margin: 5px 0 0 20px;
}







/* 푸터시작 */
footer{
    height: 200px;
    margin-top: 20px;
}
footer #footer_menu_box{
    height: 40px;
    background-color: #92c8e0;
}
footer #footer_menu{
    width: 100%;
    margin : 0 auto;
    padding-top: 15px;
}
footer #footer_menu ul{
    margin-left: 210px;
    margin-top: -4px;
}
footer #footer_menu li{
    display: inline;
    margin-left: 20px;
}
footer #footer_menu a:link{
    color:#ffffff
}
footer #footer_menu a:hover{
    color:#ffffff
}
footer #footer_menu a:visited{
    color:#ffffff
}
footer #footer_menu a:active{
    color:#ffffff
}
footer #footer_box{
    width:990px;
    height : 100px;
    margin:20px auto;
    box-sizing: border-box;
}
footer #footer_box div{
    display: inline;
}
footer #footer_box #footer_logo{
    margin-top: -10px;

}
footer #footer_box #address{
    margin:10px;
}
footer #footer_box #footer_banner{
    margin:10px;
}

#body-wrapper{
    position: relative;
}

#body_content{
    padding-bottom: 300px;
}